
/* Estilo para o body, definindo um fundo escuro e texto claro */
body {
    background-color: #333;
    color: #fff;
    font-family: Arial, sans-serif;
}

/* Estilo para os links */
a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #ccc;
}

/* Estilo para os títulos */
h1, h2, h3 {
    color: #eee;
}

/* Estilo para os parágrafos */
p {
    color: #eee;
}

/* Estilo para os formulários */
input[type="text"], 
input[type="email"], 
input[type="password"], 
input[type="number"], 
textarea, 
select {
    background-color: #444;
    color: #ddd;
    border: 1px solid #666;
}

input[type="text"]:focus, 
input[type="email"]:focus, 
input[type="password"]:focus, 
input[type="number"]:focus, 
textarea:focus, 
select:focus {
    border: 1px solid #999;
}

input[type="submit"], 
button {
    background-color: #555;
    color: #fff;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
}

button:disabled {
    background-color: #444;
    color: #bbb;
    cursor: default;
}

button:disabled:hover {
    background-color: #444;
}

input[type="submit"]:hover, 
button:hover {
    background-color: #777;
}

footer {
    color: #888;
}

/* Form Dark */

mark {
    background-color: transparent;
}

mark.error {
    border-color: #ffaaaa;
    color: #ee7b7b;
}

mark.info {
    border-color: var(--info-border-color);
    background-color: var(--info-background-color);
}

div.mark {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    padding: 10px 5px 10px 5px;


}

/* scroll */

/* Define a largura da barra de rolagem */
::-webkit-scrollbar {
    width: 12px;       /* Largura para barras verticais */
    height: 12px;      /* Altura para barras horizontais */
}

/* Cor de fundo da área da barra de rolagem */
::-webkit-scrollbar-track {
    background: transparent; /* Cor escura de fundo */
}

/* Cor e estilo do "polegar" da barra de rolagem */
::-webkit-scrollbar-thumb {
    background-color: #555; /* Cor escura do polegar */
    border-radius: 10px;
    border: 3px solid #333; /* Borda que combina com o fundo */
}

/* Alteração de cor ao passar o mouse */
::-webkit-scrollbar-thumb:hover {
    background-color: #777; /* Cor mais clara ao passar o mouse */
}

