form {
    display: grid;
    gap: 5px;
    height: 100%;
}

form.edit,
form.view { 
    grid-template-rows: 60px auto 60px;
}

form.edit div:first-child,
form.view div:first-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form.edit div:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

form.edit div:last-child,
form.view div:last-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form.view div:first-child {
    text-align: center;
}

form.view div:nth-child(2) {
    overflow-y: auto;
    border: 1px solid #999;
    border-radius: 4px;
    padding: 10px 0 0 5px;
    margin: 10px 0 10px 0;
    min-height: 100px;
}

form.view div:nth-child(2) p {
    text-indent: 15px;
    margin: 0 5px 10px 0;
    text-align: justify;
}

/*

form div {
    display: flex;
    margin-bottom: 10px;
}

form div:last-child {
    margin-bottom: 0;
}

form div.field {
    flex-direction: column;
}

form div.button {
    flex-direction: row;
}

div.checkboxlist {
    flex-direction: column;
    border: 1px solid var(--input-border-color);
    border-radius: 5px;
    margin-top: 2px;
}

.form div.checkboxlist span {
    padding: 2px;
    margin-left: 10px;
}

*/

label {
    padding-left: 5px;
    padding-bottom: 2px;
}

textarea {
    height: 100%;
    resize: none;
    border-radius: 5px;
    padding: 5px;
    line-height: 1.4;
}

input,
button,
select {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid var(--input-border-color);
    font-size: 10pt;
}

input:invalid {
    border-color: var(--input-invalid-border-color);
    background-color: var(--input-invalid-background-color);
}

button {
    max-width: 150px;
    min-width: 100px;
    margin-right: 10px;
    border: 1px solid var(--button-background-color);
    background-color: var(--button-background-color);
    color: var(--button-text-color);
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

button.button-large {
    width: 100%;
    max-width: 250px;
}

button:disabled {
    background-color: var(--button-background-color-disabled);
    cursor: default;
}

input[type=month],
input[type=date] {
    font-size: 10pt;
    font-family: 'Didact Gothic', sans-serif;
    width: auto;
}

select {
    font-family: 'Didact Gothic', sans-serif;
    font-size: 10pt;
}

div.mark {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    padding: 10px 5px 10px 5px;
}

mark {
    border: 1px solid;
    border-radius: 5px;
    flex-grow: 1;
    padding: 4px;
    font-size: 10pt;
}

mark.info {
    text-align: center;
}