


/* form.list {
    grid-template-rows: auto 60px;
}

form.list .list-container-1 {
    background-color: white;
}

form.list .list-container-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

/*
div.table {
    background-color: blueviolet;
}



div.table.col3 .head {
    display: grid;
    grid-template-columns: auto 20% 20%;
}

div.table.col3 .body {
    height: 100%;
    background-color: darkslateblue;
    overflow-y: auto;
}

div.table.col3 div.row {
    background-color: darkred;
    width: 100%;
    display: grid;
    grid-template-columns: auto 20% 20%;
}

*/