@import "./dark.css";
@import "./layout.css";
@import "./form.css";
@import "./fonts.css";

* {
    box-sizing: border-box;
}

:root {
    --color-btn: rgb(50, 50, 100);
    --base-font-image-size: 28px;
    --input-invalid-border-color: #ce6262;
    --menu-width: 225px;
    --max-width: 600px;
    --header-height: 80px;
    --dialog-width: calc(var(--max-width) * .85);
    --dialog-top: calc(var(--header-height) + 25px);
}

.oculto {
    display: none !important;
}

.pointer {
    cursor: pointer !important;
}

h1 {
    font-size: 18pt;
}



/* cards... */

#cards {
    width: 100%;
    max-width: 600px;
    background-color: #444;
    padding: 5px 10px;
}

#cards table {
    border: 1px solid #fff;
    width: 100%;
}

#cards caption div {
    display: grid;
    grid-template-columns: auto 75px;
    gap: 0;
    align-items: center;
    background-color: #555;
    padding: 5px;
}

#cards caption div span:first-child {
    justify-self: start;
}

#cards caption div span:last-child {
    justify-self: end;
}

#cards th {
    width: 33%;
}

#cards tbody tr {
    text-align: center;
}


/* ...cards */

/* menu... */

.menu-container {
    display: flex;
}

.menu-container .menu {
    position: fixed;
    height: 300px;
    top: 55px;
    width: var(--menu-width);
    left: calc(50vw + (300px - var(--menu-width)));
    z-index: 11;
    background-color: #222222f9;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

@media screen and (max-width: 600px) {
    .menu-container .menu {
        left: calc(50vw + (50vw - var(--menu-width)));
    }
}

.menu-container .backdrop {
    position: fixed;
    height: 100vh;
    top: 0;
    width: 100vw;
    left: 0;
    z-index: 10;
    background-color: transparent;
    cursor: pointer;
}

.menu-container button[type=menu] {
    width: 100%;
    max-width: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}

.menu-container button[type=menu] span:first-child {
    font-size: 24px;
    cursor: pointer;
}

.menu-container button[type=menu] span:last-child {
    padding-left: 5px;
    padding-bottom: 0;
    cursor: pointer;
}

/* Dialog */

.dialog-container .dialog {
    position: fixed;
    height: auto;
    top: var(--dialog-top);
    width: var(--dialog-width);
    max-width: calc(100vw * .85);
    left: calc((100vw / 2) - (var(--dialog-width) / 2));
    z-index: 11;
    background-color: #222;
    border-radius: 5px;
    padding: 10px;
    padding: 5px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dialog-container .backdrop {
    position: fixed;
    height: 100vh;
    top: 0;
    width: 100vw;
    left: 0;
    z-index: 10;
    background-color: rgba(34, 34, 34, 0.7);
    cursor: pointer;
}

.dialog div {
    margin: 5px;
    width: 95%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 10px;
}

.dialog-header {
    height: 50px;
    justify-content: center;
    font-size: 18pt;
    border-bottom: .5px solid #444;
}

.dialog-content {
    height: auto;
    padding: 0 5px;
    border-bottom: .5px solid #444;
}

.dialog-icon {
    padding: 8px;
    margin: 0 5px 0 0;
}

.dialog-msg,
.dialog-label {
    font-size: 12pt;
}

.dialog-input {
    width: 100%;
    margin-top: 5px;
}

.dialog-buttons {
    height: 40px;
    justify-content: space-evenly;
    padding-top: 10px;
}

/* Acesso */

fieldset {
    border-radius: 5px;
    padding: 10px;
    display: grid;
    grid-template-rows: auto;
    gap: 15px;
    margin-bottom: 10px;
}

fieldset legend {
    padding: 0 8px;
}

fieldset div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

fieldset input[type=text],
fieldset p {
    width: 100%;
    text-align: center;
}

fieldset p {
        word-break: break-all;
}